<!DOCTYPE html>
<html lang="zh-cn">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title> 网络空间搜索引擎</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <meta name="keywords" content="cyberspace,device,zoomeye,fingerprint,security,search engine,ipv4,nmap,scan,web">
  <link rel="shortcut icon" href="static/images/favicon.ico">

  <!--[if lte IE 8]><meta http-equiv="refresh" content="0;url=/ie" /><![endif]-->

  <link href="/static/css/v4.dist.v0_1_7.css" rel="stylesheet" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/css/odometer-theme-default.css" />
  <meta name="description" content="是XXXXX推出的一款网络空间搜索引擎，带领您探索互联网设备和网站节点，感受网络空间的心跳。">
  <script type="text/javascript" src="/static/scripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/scripts/odometer.min.js"></script>
</head>

<header class="site-header">
  <nav class="navbar site-navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#j-site-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="static/images/neteye_small.png" alt="NetEye" style="width: 160px;height: 34px;"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="j-site-navbar-collapse">
	  
	  
        <form class="navbar-form navbar-left search-form j-search-form hidden" role="search" action="search" method="get">
          <div class="form-group">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="current">网站</span>
                  <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li data-type="web"><a href="/#">网站</a></li>
                <li data-type="host"><a href="/#">主机</a></li>
              </ul>
            </div>
              <input type="hidden" name="t">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <i class="glyphicon glyphicon-search"></i>
          </div>
        </form>
		
        <ul class="nav navbar-nav">
          
        </ul>

        <ul class="nav navbar-nav navbar-right">
              
              <li><a href="/neteye.bm/login.html" target="view_window">登录</a></li>
              
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>


<style>
  .home{
    padding-top: 53px;
  }
  .home .site-header{
    position: fixed;
    z-index: 10;
    width: 100%;
    top:0px;
    left: 0px;
  }

  .index-search-form .twitter-typeahead {
    float: left;
  }

  @media (max-width: 414px) {
    .index-search-form .twitter-typeahead {
      width: 150px;
    }
  }
 .index-statistic{
 margin-top: 0px;
  }
</style>

<section class="index-hero">
  <div class="index-hero-slick" id="j-index-hero-slick">
    <div class="slick-item" style="background-image: url(static/images/bg-index-hero.jpg?v=1)"></div>
    <!--<div class="slick-item" style="background-image: url(static/v4/images/bg-index-hero-2.jpg?v=1)"></div>-->
  </div>
  <img src="static/images/neteye.png" class="site-logo" alt="NetEye" style="width: 140px;height: 116px;">
  <form action="search" method="get" id="normal-search-form" class="index-search-form j-search-form">
    <div class="input-wrapper">
      <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input class="form-control tt-input" type="text" autofocus="true" name="q" role="combobox" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;" placeholder="app:&quot;Indy httpd&quot;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;WenQuanYi Micro Hei&quot;, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-app"></div></span></span>
      <input type="hidden" name="t" value="host">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="current"><i class="glyphicon glyphicon-console hidden-xs"></i> 主机</span>
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li data-type="web"><a href="/#"><i class="glyphicon glyphicon-home hidden-xs"></i> 网站</a></li>
          <li data-type="host"><a href="/#"><i class="glyphicon glyphicon-console hidden-xs"></i> 主机</a></li>
        </ul>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="btn-search" type="submit"><i class="glyphicon glyphicon-search"></i> 探索一下</button>
      <a href="/search/advanced" class="btn-advance-search">高级搜索</a>
    </div>

  </form>
</section>



<section class="row-section bg-light">
<div class="container">
<div class="col-sm-12">
      <h2 class="row-section-title">
		 我们正在探索 ...
      </h2>
      <div class="row-section-title-des">
		 分布在全球各地的爬虫节点，7 x 24 小时实时抓取、解析、更新
      </div>
	  <h2></h2>
      
      <div class="row-section-body">
        <div class="index-statistic" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
          
          <div class="statistic-wrapper">
            <dl class="left">
              <dd id="hosts-num" class="j-hosts-num odometer odometer-auto-theme" data-num=""></dd>
              <dt>主机数</dt>
            </dl>
            <dl class="right">
              <dd id="web-num" class="j-web-num odometer odometer-auto-theme" data-num=""></dd>
              <dt>网站数</dt>
            </dl>
          </div>
        </div>
      </div>
      
</div> 
</div>
</section>

<div class="ksz-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="logo-wrapper">
          <a target="_blank" href="http://www.caict.ac.cn/"><img src="/static/images/caict_logo.png" alt="CAICT" style="width: 97px;height: 38px;"/></a>
        </div>
        <div class="logo-wrapper">
          <a target="_blank" href="https://www.seebug.org/"><img src="/static/images/ksz-seebug.svg" alt="Seebug" style="width: 98px;height: 31px;"/></a>
        </div>
        <div class="logo-wrapper">
          <a href="/"><img src="/static/images/neteye_small.png" alt="NetEye" style="width: 126px;height: 24px;"/></a>
        </div>
        <div class="copyright-text">
          Copyright @ 中国信息通信研究院
          
          <a class="language" href="/accounts/language/?l=en">English</a>
          
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
function callAjax(settings, callback) {
	$.ajax({
		type: settings['type'], url: settings['url'], data: settings['data'], dataType: "json",
		success: function(data){
			callback(data);
		},
		error: function(jqXHR, textStatus, errorThrown) {
			console.log("ajax error!!! textStatus: "+ textStatus + " errorThrown: " + errorThrown);
		},
	});
}

function requestAndRenderNums() { 
	var settings = {type:'get', url: 'search/hostwebcount', data:{page: 1}};
	callAjax(settings, function(data) {
		$("#hosts-num").text(data.hosts_num);
		$("#web-num").text(data.web_num);
	});
} 


$(document).ready(function() {
	requestAndRenderNums(); 
	setInterval(requestAndRenderNums, 30000);
});
 
</script>
</body>
</html>