<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
   <servlet-name>MainPageAPI</servlet-name>
   <servlet-class>com.bochum.neteye.api.MainPageServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>DetailAPI</servlet-name>
   <servlet-class>com.bochum.neteye.api.DetailServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>SumAPI</servlet-name>
   <servlet-class>com.bochum.neteye.api.SumServlet</servlet-class>
  </servlet>
  
  <servlet>
   <servlet-name>Search</servlet-name>
   <servlet-class>com.bochum.neteye.servlet.SearchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>MainPageAPI</servlet-name>
   <url-pattern>/api/mainpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>DetailAPI</servlet-name>
   <url-pattern>/api/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>SumAPI</servlet-name>
   <url-pattern>/api/sum</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
   <servlet-name>Search</servlet-name>
   <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>
